@media all and (max-width:800px) {

	.flexnav li a {
		color: #fff;
	}

	.logo {
		width: 125px;
	}

	.top-section {
		height: 75px;
	}

	.home-hero {
		height: auto;
		background-color: #363A60;
	}

	.hero-box {
		height: auto;
	}
	
	.hero-image {
		text-align: center;
	}

	.hero-pic {
		width: 250px;
		padding-top: 20px;
	}

	.home-hero-caption {
		padding-top: 0px !important;
		text-align: center;
		padding-bottom: 25px;
	}

	.home-title {
		font-size: 36px;
		text-align: center;
		padding-top: 10px;
	}

	.home-subtitle {
		font-size: 21px;
		text-align: center;
	}

	.btn-large {
		/*margin-left: 140px;*/
		top: 0; bottom:0; left: 0; right:0;
    	margin: auto;
	}

	.icon-title {
		font-size: 18px;
		padding-top: 10px;
	}

	.icons-home {
		padding-bottom: 0px;
	}

	.icon-text {
		font-size: 14px;
	}

	.icons-home-section {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	.testimonial-home-section {
		height: auto;
		text-align: center;
	}

	.testimonial-quote {
		text-align: left;
	}

	.jeremy-testimonial {
		padding-top: 25px;
	}

	.jeremy-test-pic {
		width: 150px;
	}

	.bq-jeremy {
		padding-top: 0px !important;
		width: 282px;
		margin-left: auto;
		text-align: center;
	}

	.bqstart {
		font-size: 500%;
	}

	.jeremy_title {
		line-height: 0.5;
		text-align: center;
	}

	blockquote {
		font-size: 18px;
	}

	.call-to-action-content {
		width: auto;
		text-align: center;
	}

	.call-to-action-content h3 {
		font-size: 24px;
	}


	/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.about-hero-section {
		height: 100px;
	}

	.hero-title {
		width: 180px;
		top: 15px;
		font-size: 21px;
		padding: 9px;
	}

	.mission-statement-section {
		height: auto;
	}

	.about-mission-statement-section {
		width: 250px;
	}

	.about-mission-statement-content, .about-our-story-content {
		width: 275px;
		padding: 25px;
	}

	.about-mission-statement-content h3, .about-our-story-content-first-column-content h3, .about-our-story-content-second-column-content h3 {
		font-size: 18px;

	}

	.red-box {
		height: 5px;
		width: 50px;
	}

	.mission-text, .our-story-text {
		font-size: 14px;
	}

	.about-our-story {
		height: auto;
	}

	.about-our-story-content-second-column-content {
 		 width: 300px;
 
	}

	/* History
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	.history-hero-section {
    	background-size: 100%;
    	height: 105px;
	}

	.history-content-section {
	    height: auto;
	    padding-top: 15px; 
	}

	.history-subtitle-text {
	    padding-top: 15px;
	    text-align: right;
	}

	.history-subtitle h4 {
		font-size: 18px;
		text-align: left;
		padding-left: 50px;
	}

	.history-text, .history-current-text {
		font-size: 14px;
		width: 275px;
	}

	.history-current-section {
    	padding-top: 15px; 
    	height: auto;
	}

	.history-current-subtitle-text {
	    padding-top: 15px;
	}

/* Instructors
–––––––––––––––––––––––––––––––––––––––––––––––––– */	
	
	.top-section-instructors {
		height: 70px;
	}

	.instructor-header {
		height: 50px;
	}

	.page-title {
		padding-top: 9px;
		font-size: 21px;
	}

	.red-box-center {
		width: 50px;
		height: 5px;
		margin-left: auto;	
		margin-right: auto;
	}

	.all-instructor-content {
		padding-top: 15px;
	}

	.instructor-image-mestre img {
		width: 150px;
	}

	.instructor-subtitle {
		font-size: 18px;
	}

	.mestre-section {
		height: auto;
	}

	.instructor-description {
		padding-top: 0px;
		padding-left: 0px;
		text-align: center;
	}

	.mestre-text {
		font-size: 14px;
		width: auto;
		padding-left: 50px;
		padding-right: 50px;
	}

	.jeremy-section {
		height: auto;
	}

	.instructor-image-jeremy img {
		width: 125px;
		padding-left: 0px;
	}

/* Programs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	 
	.adult-class-content {
		width: 275px;
		padding: 25px;
	}

	.class-image {
		display: block;
		width: 200px;
			
	}

	.class-image img {
		width: 200px;
	}

	.class-description, .youth-class-section {
		padding-left: 0px;
		text-align: center;

	}

	.red-box-center-programs {
		width: 50px;
		height: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.class-subtitle, .youth-class-subtitle {
		font-size: 18px;
	}

	.adult-text, .youth-text {
		font-size: 14px;
		width: auto;
		padding-left: 50px;
		padding-right: 50px;
	}

	.btn {
		font-size: 14px;
	}

	.youth-class-image img {
		width: 200px;
	}


/* Adult class
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.adult-class-hero-section {
		height: 100px;
	}

	.adult-hero-title {
		width: 136px;
		top: 15px;
		font-size: 21px;
		padding: 9px;
	}

	.class-content-section {
		height: auto;
		padding-top: 0px;
	}

	.adult-class-content-section {
		width: auto;
	}

	.adult-class-text {
		font-size: 14px;
	}


	.red-box {
		height: 5px;
		width: 50px;
	}

	.class-info {
		padding-left: 0px;
		display: block;
	}

/* Youth Expressions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.youth-class-hero-section {
		height: 100px;
		background-position: 0px 0px;
	}


	.youth-class-content-section {
		height: auto;
		padding-top: 0px;
	}

	.youth-class-content-section {
		width: auto;
	}

	.youth-class-logo img {
		width: 125px;
		padding-top: 15px;
	}

	.youth-hero-title {
	  position: relative;
	  color: #A8282F;
	  width: 140px;
	  padding: 10px;
	  top: 10px;
	  font-size: 21px;
	  background-color: rgba(255, 255, 255, 0.5);
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	  text-transform: uppercase;

	}

	.youth-expressions-content {
		width: auto;
		height: auto;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.youth-class-text {
		font-size: 14px;
	}


	.red-box {
		height: 5px;
		width: 50px;
	}

	.class-info {
		padding-left: 0px;
		display: block;
	}

	.youth-testimonial-text {
	  margin-right: 10px;
	  color: #FFFFFF;
	  font-size: 14px;
	  padding-bottom: 0px;
	  margin-left: 0px !important;
	}

	.youth-testimonial-section {
    padding-bottom: 25px;
    }


/* Summer Camp
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	.summer-camp-hero-section {
		height: 100px;
		background-position: 0px 0px;
	}

	.summer-class-hero-title {
		top: 15px;
		font-size: 21px;
		padding: 9px;
	}

	.summer-camp-content-section {
		height: auto;
		width: auto;
		padding-top: 0px;
	}

	.summer-camp-text {
		font-size: 14px;
	}

	.summer-hero-title {
	  position: relative;
	  color: #A8282F;
	  width: 161px;
	  padding: 10px;
	  font-size: 21px;
	  top: 15px;
	  background-color: rgba(255, 255, 255, 0.5);
	  text-align: center;
	  display: block;
	  text-transform: uppercase;
	}

	.summer-camp-content {
		width: auto;
		height: auto;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.white-box {
		height: 5px;
		width: 50px;
	}

	.class-info {
		padding-left: 0px;
		display: block;
	}

/* Calendar
–––––––––––––––––––––––––––––––––––––––––––––––––– */	
	.google-calendar iframe {
		width: 100%;
	}
 
/* Locations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.locations-title {
		padding-top: 9px;
		font-size: 21px;
	}

	.san-fran-image {
	    width: auto;
	    text-align: center;
	    margin-top: 0px;
	}

	.san-fran-image img{
	    width: 200px;
	  
	}

	.location-subtitle {
		font-size: 18px;
	}

	.location-description {
		padding-left: 0px;
		text-align: center;

	}

	.location-text {
		font-size: 14px;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
		width: auto;
		height: auto;
	}

	.red-box-locations {
	  width: 50px;
	  height: 5px;
	  background-color: #A8282F;
	  margin-bottom: 10px;
	  margin-left: auto;
	  margin-right: auto;
	}

/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.contact-title {
		padding-top: 9px;
		font-size: 21px;
	}

	.contact-header {
		height: auto;
	}

	.form-box {
		width: auto;
	}

	.form-greeting h4, .contact-right-content h4 {
		font-size: 18px;
	}

	input, textarea {
		height: auto;
		font-size: 14px;        
	}

	.red-box-contact {
		width: 50px;
	  	height: 5px;
	  	background-color: #A8282F;
	  	margin-bottom: 10px;
	 	margin-left: auto;
	  	margin-right: auto;
	}

	.btn-contact {
		font-size: 14px;
		padding: 10px;
		width: auto;
		height: auto;
	}

	.contact-right-content {
		text-align: center;
		padding-top: 10px;
	}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	.footer {
		text-align: center;
		height: auto;
	}

	.footer-content {
		float: none;
	}

	.social-media-footer {
		padding-right: 0px !important;
		float: none;
	}

	.social-media-icon {
		width: 15px !important;
	}

}





