@media all and (max-width:800px) {

	
	.hero-image {
		text-align: center;
	}

	.hero-pic {
		width: 350px;
	}

	.hero-box {
		height: 650px;
	}

	.home-hero-caption {
		padding-top: 0px !important;
		text-align: center;
	}

	.home-title {
		font-size: 48px;
		text-align: center;
	}

	.home-subtitle {
		font-size: 24px;
		text-align: center;
	}

	.btn-large {
		/*margin-left: 140px;*/
		top: 0; bottom:0; left: 0; right:0;
    	margin: auto;
	}

	.icons-home-section {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	.testimonial-home-section {
		height: 350px;
		text-align: center;
	}

	.jeremy-test-pic {
		width: 175px;
	}

	.bq-jeremy {
		padding-top: 0px !important;
		width: 300px;
		margin-left: 0px !important;
	}

	.bqstart {
		font-size: 500%;
	}

	.jeremy_title {
		line-height: 0.5;
		text-align: right;
	}

	blockquote {
		font-size: 18px;
	}

	.call-to-action-content {
		width: auto;
		text-align: center;
	}

	.call-to-action-content h3 {
		font-size: 24px;
	}

	.footer {
		text-align: center
	}

	.footer-content {
		float: none;
	}

	.social-media-footer {
		padding-right: 0px !important;
		float: none;
	}

}