*
* Grupo Gingado Capoeira 
* Copyright 2016, Glen Inocencio
* 1/1/2016
*


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Global Elements
- Top Navigation  
- Landing Page
- About 
- History
- Instructors
- Programs
- Adult Class
- Youth Expressions
- Summer Camp
- Class Schedule
- Locations
- Contact
- Footer
*/

/* Global Elements
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

html {
  overflow-x: hidden;
}

html, body{
  overflow-x: hidden;
}

body {
  font-size: 1.75em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 300;
  font-family: "Museo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;
  
}

h4 {font-size: 1.414em;}

ul, li {
  text-decoration: none;
}

li {
  display: inline-block; 
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #A8282F !important;
}

blockquote {
  font-size: 21px;
}
   
.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.center {
  text-align: center;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.red-box {
  width: 75px;
  height: 10px;
  background-color: #A8282F;
  margin-bottom: 10px;
}

.hero-title {
  position: relative;
  color: #A8282F;
  width: 800px;
  padding: 10px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-transform: uppercase;
}

.page-title {
  color: #363A60;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.class-info {
  font-size: 14px;
  line-height: 0.5;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
  width: 200px;
}

.classes-subtitle {
  color: #363A60;
  font-size: 18px;

}

.classes-link {
  color: #363A60;
  font-size: 14px;
}

.classes-description {
  padding: 50px;
  text-align: center;

}


/* Top Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.top-section {
  height: 100px;
}

.right-nav {
  margin-top: -70px;
  margin-left: auto;  
  margin-right: auto;
}

.logo {
  padding: 10px;
  top: 0;
  left:0;
}

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.home-hero {
  background-color: #363A60;
  height: auto;
}


.hero-box {
  height: 500px;
  background-color: #363A60;
  width: 100%;
}

.hero-pic {
  padding-top: 15px;
}

.home-hero-caption {
  padding-top: 100px;
  color: #A8282F;
}

.home-subtitle {
  color: #fff;
  font-weight: 400;
}

 .btn-large {
  border: 1px solid #FFF;
  padding: 10px;
  color: #FFF;
}

 .btn-large:hover {
  border: 1px solid #A8282F;
  padding: 10px;
  color: black;
}

.icons-home-section {
  margin-left: 100px;
  margin-right: 25px;
  display: block;
}

.icons-home {
  margin-right: 10px;
  padding: 25px;
}

.icon-connection {
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icon-title, .icon-text {
  text-align: center;
}

.icon-title {
  font-weight: 500;
}

.testimonial-home-section {
  height: auto;
  background-color: #A8282F;
  padding: 25px;
  text-align: center;
}

.jeremy-testimonial {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-quote {
  display: inline-block;
  vertical-align: top;
}

.bq-jeremy {
  color: #fff;
  width: 500px;
  padding-top: 30px;
  text-align: left;
}

.bqstart {
  float: left;
  padding-top: 0px;
  font-size: 700%;
  color: #fff;
  margin-top: -45px;
}

.call-to-action-section {
  width: 100%;
  height: 425px;
  background: black url("../images/call-to-action.png") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.group-image {
  height: 100px;
}

.group-image img {
  width: 100%;
  position: absolute;
  background-image: 
}

.call-to-action-content {
  position: relative;
  width: 500px;
  height: auto;
  color: #A8282F;
  padding: 25px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-large-action {
  border: 1px solid #A8282F;
  padding: 10px;
  color: #A8282F;
}

 .btn-large-action:hover {
  border: 1px solid #FFF;
  padding: 10px;
  color: #FFF !important;
}

/* About 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-hero-section {
  background: #363A60 url("../images/about-pic.png") no-repeat;
  background-size: 100%;
  height: 300px;
  /*background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}


.mission-statement-section {
  height: auto;
  background-color: #363A60;
  color: white;
}

.mission-text {
  font-size: 21px;
}

.mission-statement-section {
  height: auto;
}

.about-mission-statement-content {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
}

.about-our-story1 {
  background-color: yellow;
}

.about-our-story-content-first-column {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
}

.about-our-story-content-second-column {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
}

.about-our-story {
  height: auto;
  background-color: rgba(155,155,155,0.15);
}

/* History 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.history-hero-section {
  background: #9B9B9B url("../images/history.png") no-repeat;
  background-size: 100%;
  height: 300px;
  /*background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}

.history-content-section {
  height: auto;
  background-color: #9B9B9B;
  color: white;
  padding-top: 50px;
}

.history-subtitle-text {
  text-align: right;
  vertical-align: top;
}

.history-content {
  padding-left: 50px;
}

.history-text {
  width: 500px;
  font-size: 21px;
  /*margin: 0 auto;
  padding: 50px;*/
}

.history-current-section {
  height: auto;
  background-color: #FFF;
  color: white;
  padding-top: 50px;
}

.history-current-subtitle-text {
  color: #000000;
  text-align: right;
}

.history-current-text {
  color: #000000;
  width: 500px;
}

.our-story-text ul li {
  display: block;
  text-decoration: none !important;
}

.bold-story-text {
  font-weight: 700;
}


/* Instructors
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.top-section-instructors {
  height: 100px;
}


.instructor-header {
  height: 150px;
}

.instructor-title {
  color: #363A60;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.mestre-section {
  height: auto;
  background-color: #363A60;

}

.instructor-subtitle {
  color: #FFF;
}

.instructor-description {
  padding-top: 50px;
  display: inline-block;
  vertical-align: top;
  padding-left: 100px;
  text-align: left;
}

.mestre-pic {
  width: 300px;
  display: block;

}

.mestre-text {
  color: #FFF;
  width: 500px;
}

.all-instructor-content {
  text-align: center;
  padding-top: 25px;
}

.red-box-center {
  width: 75px;
  height: 10px;
  background-color: #A8282F;
  margin-bottom: 10px;
}

.instructor-image-mestre {
  width: 250px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.instructor-image-jeremy {
  width: 250px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.instructor-image-jeremy img {
  width: 218px;
  padding-left: 50px;
}



.jeremy-section {
  height: auto;
  background-color: #9B9B9B;
  background-image: url("../images/jeremy.png") no-repeat;
}

.jeremy-pic {
 
  display: block;
}

/* Programs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.adult-class-section {
  height: auto;
  background-color: #363A60;
  text-align: center;
  padding-bottom: 25px;
}

.adult-class-image  {
  width: 250px;
  padding-left: 50px;
  display: inline-block;
}

.red-box-center-programs {
  width: 75px;
  height: 10px;
  background-color: #A8282F;
  margin-bottom: 10px;
}

.class-image {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.adult-text {
  color: #fff;
  width: 400px;
}

.adult-class-content {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
}

.class-description {
  padding-top: 25px;
  display: inline-block;
  vertical-align: top;
  padding-left: 100px;
  text-align: left;
  padding-bottom: 25px;
}

.youth-class-section {
  height: auto;
  background-color: #E6E4E6;
  text-align: center;
  padding-bottom: 25px;
}

.class-subtitle {
  color: #fff;
}

.adult-class-content {
  text-align: center;
  display: inline;
}

.youth-class-content {
  display: inline;
}

.youth-class-image {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.youth-text {
  color: #000000;
  width: 400px;
}

.youth-class-subtitle {
  color: #000000;
}

.summer-camp-section {
  height: auto;
  background-color: #B0AFB0;
  text-align: center;
  padding-bottom: 25px;
}

.btn-large-youth {
  border: 1px solid #000000;
  padding: 10px;
  color: #000000;
}

 .btn-large-youth:hover {
  border: 1px solid #A8282F;
  padding: 10px;
  color: black;
}


/* Adult Class
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.adult-class-hero-section {
  background: #363A60 url("../images/adult-class.png") no-repeat;
  background-size: 100%;
  height: 300px;
  /*background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */

}

.adult-hero-title {
  position: relative;
  color: #A8282F;
  width: 400px;
  padding: 10px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-transform: uppercase;
}

.class-content-section {
  height: auto;
  background-color: #363A60;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.adult-class-text {
  font-size: 21px;
  text-align: left;
  color: #FFFFFF;
}

.adult-class-content-section {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  display: inline-block;
}

.missin-statement-section {
  height: 500px;
}

.red-box-class {
  width: 75px;
  height: 5px;
  background-color: #A8282F;
  margin-bottom: 10px;
}

/* Youth Expressions
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.youth-class-hero-section {
  background: #E6E4E6 url("../images/youth-expressions.png") no-repeat;
  background-size: 100%;
  height: 300px;
  background-position: 0px -50px;
  /*background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}

.youth-hero-title {
  position: relative;
  color: #A8282F;
  width: 600px;
  padding: 10px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-transform: uppercase;
}

.youth-class-content-section {
  height: auto;
  background-color: #E6E4E6;
  color: #000000;
  text-align: center;
  padding-top: 50px;
}

.youth-expressions-content {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  display: inline-block;
}

.youth-class-text {
  font-size: 21px;
  text-align: left;
}

.youth-class-logo {
  display: inline-block;
  vertical-align: top;
}

.youth-class-logo img {
  width: 200px;
  padding-top: 50px;
}

.youth-list {
  display: inline-block;
}



/* Summer Camp
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.summer-camp-hero-section {
  background: #A8282F url("../images/summer-camp-hero.png") no-repeat;
  background-size: 100%;
  height: 300px;
  background-position: 0px -93px;
  /*background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
}

.summer-hero-title {
  position: relative;
  color: #A8282F;
  width: 400px;
  padding: 10px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-transform: uppercase;
}

.summer-camp-content-section {
  height: auto;
  background-color: #A8282F;
  color: #000000;
  text-align: center;
  padding-top: 50px;
}

.summer-camp-content {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  display: inline-block;
}

.summer-camp-text {
  font-size: 21px;
  text-align: left;
  color: #FFFFFF;
}

.white-box {
  width: 75px;
  height: 10px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

/* Class Schedule
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.google-calendar {
  text-align: center;
  padding-bottom: 25px;
}

/* Locations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.locations-header {
  height: auto;
}

.locations-title {
  color: #363A60;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}



.location-subtitle {
  color: #363A60;
}

.location-description {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
  padding-left: 160px;
  text-align: left;
}

.red-box-locations {
    width: 75px;
    height: 10px;
    background-color: #A8282F;
    margin-bottom: 10px;
}

.location-text {
  width: 400px;
}

.location-content {
  text-align: center;
  /*padding-top: 25px;*/
}

.san-fran-image {
  width: 250px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact-header {
  height: 150px;
}

.contact-title {
  color: #363A60;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.main-content-form {
  /*background-color: #a8b6bf;*/
}

.form-box {
  background-color: #363A60;
  width: 600px;
  height: 500px;
  display: inline-block;
  /*margin-left: 31% !important;*/
  /*margin-top: 5%;*/
}

.red-box-contact {
  width: 75px;
  height: 10px;
  background-color: #A8282F;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media(max-width: 550px) {
  .form-box {
    margin-left: 0% !important;
    margin: 0%;
    height: 100%
  }
}

.form-greeting {
  padding: 10px;
  /*text-align: center;*/
  color: #FFFFFF;
  padding-left: 30px;
  padding-top: 25px;
}

.contact-form {
  padding: 5px 30px 0 30px;
}

.contact--section {
  /*background-color: #a8b6bf;*/
  height: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
} 

input, 
textarea {
  border: 1px solid #000;
  display: block;
  width: 75%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;        
}

input:active, 
textarea:active {
  box-shadow: 0 0 0 transparent;
  outline: none;
} 

.btn-contact {
   color: #fff;
   text-align: center;
   width: 100px;
   height: 40px;
   background-color: #363A60;
   border: 1px solid #FFFFFF;
}

.btn-contact:hover{
  color: #FF0000;
  border: 1px solid #FF0000 !important;
  
} 

.contact-right-content {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  text-align: left;
}

.contact-right-content  p {
   font-size: 14px;
  line-height: 0.5;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
  height: 200px;
  background-color: #000000;
  color: #FFF;
  padding: 25px;
}

.footer-content {
  float: left;
}

.footer-content p {
  font-size: 14px;
  line-height: 0.5;
}

.social-media-footer {
  float: right;
  display: inline-block;
  padding-right: 10px;
}

.social-media-icon {
  padding-right: 15px;
}








